* {
  margin: 0;
  padding: 0;
}
.bt {
  display:inline;
  
   justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;

  text-align: center;
  background-color: rgb(177, 223, 228);
}
.bt:hover {
  /* width: 45px; */
  transition: 0.5s;
  color: white;
  background-color: rgb(115, 216, 227);
}
h3 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}
a {
  text-decoration: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 32%;
  padding-top: 4rem;
}
.content {
  /* flex-basis: 200px; */
  box-sizing: border-box;
  width: 800px;
  
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}
.content:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: translate(0px, -8px);
  transition: 0.6s;
}
.content img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
p {
  text-align: center;
  color: #b2bec3;
  padding: 0 8px;
}
h6 {
  font-size: 26px;
  text-align: center;
  color: #222f3e;
  margin: 0;
}
.star {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
ul {
  list-style: none;
}
li {
  padding: 5px;
  /* display: flex; */
  /* margin-left: 80px; */
}

button {
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0px;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.buy-1 {
  background-color: #ff9f43;
}
.buy-1:hover {
  background-color: #e5740a;
}

@media (max-width: 1000px) {
  .content {
    width: 46%;
  }
}
@media (max-width: 750px) {
  .content {
    width: 100%;
  }
}
.rating:hover{
  color: #ff9f43;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.radiobtn{
  vertical-align: middle;
}
